<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha256-KC5lAzGRWwscU0sTmXtd8ka5mt7Vk8a0L5JqOhwA28s= sha512-+f2l7T69JKgnn0+Lc8P0WpM4J34GfEIInTI+iLOQWekcR9KxXE1epKQkwzFIZ7mf12jQlCryh2HfZqS8GcpR8Q==" crossorigin="anonymous">
		
		<title>Programación para Todos</title>
		<style>
			
		</style>
	</head>
	<body>
		<h1 class="well fluid text-center">Programación Para Todos</h1>
		<div class="container text-center well auto-responsive">
			<div class="row">
				<div class="col-xs-4">
					<h2>GNU/Linux</h2>
					<p class="text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga laboriosam veritatis cupiditate cumque reiciendis ipsum labore molestiae, iste ad deserunt adipisci quae nam. Doloribus dolore optio officiis, quam itaque!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam sapiente perferendis nesciunt illo ratione necessitatibus animi est, iusto tenetur deleniti harum nobis. Nobis laboriosam animi ipsum quod enim atque.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo, laboriosam praesentium mollitia sunt? Facere saepe dolore, soluta dolorem accusantium tempora voluptatem magni impedit consequatur. Pariatur non vero ratione tempore.
					</p>
				</div>
				<div class="col-xs-4">
					<h2>Windows 10</h2>
					<p class="text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga laboriosam veritatis cupiditate cumque reiciendis ipsum labore molestiae, iste ad deserunt adipisci quae nam. Doloribus dolore optio officiis, quam itaque!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam sapiente perferendis nesciunt illo ratione necessitatibus animi est, iusto tenetur deleniti harum nobis. Nobis laboriosam animi ipsum quod enim atque.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo, laboriosam praesentium mollitia sunt? Facere saepe dolore, soluta dolorem accusantium tempora voluptatem magni impedit consequatur. Pariatur non vero ratione tempore.
					</p>
				</div>
				<div class="col-xs-4">
					<h2>Mac OSX</h2>
					<p class="text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga laboriosam veritatis cupiditate cumque reiciendis ipsum labore molestiae, iste ad deserunt adipisci quae nam. Doloribus dolore optio officiis, quam itaque!
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam sapiente perferendis nesciunt illo ratione necessitatibus animi est, iusto tenetur deleniti harum nobis. Nobis laboriosam animi ipsum quod enim atque.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo, laboriosam praesentium mollitia sunt? Facere saepe dolore, soluta dolorem accusantium tempora voluptatem magni impedit consequatur. Pariatur non vero ratione tempore.
					</p>
				</div>
			</div>
		</div>



		<footer>
			<div class="container-fluid well text-center">
				<p>
					Mike Mancera Developer copyleft 2016 | Buscame en <a href="http:mikemancera12/github.com" target="_blank">Mike Mancera12</a>
				</p>
			</div>
		</footer>
		
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
	</body>
</html>